.main-auth-container {
    display: flex;
    width: 90%;
    background-color: #011424;
    border-radius: 20px;
    justify-content: center;
}

.auth-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 10%;
    gap: 20px;
}

.auth-title {
    display: flex;
    justify-content: center;
}

.san-na-vhode {
    background-color: #D8BFD8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.auth-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.auth-input {
    padding: 0.7em;
    border-radius: 10px;
    background-color: #D8BFD8;
    color: #01213b;
    font-size: 15px;
    border: none;

}

.auth-input:focus {
    outline: none;
}

@media (max-width: 850px) {
    .auth-container {
        width: 35%;
    }
}

@media (max-width: 700px) {
    .auth-container {
        width: 40%;
        justify-content: center;
    }

    .outline {
        width: 100%;
    }
}

@media (max-width: 538px) {

    .main-auth-container {
        /* width: 85%; */
        height: 80%;
    }

    .auth-container {
        width: 45%;
    }

    .outline {
        font-size: 14px;
    }
}

@media (max-width: 473px) {
    .auth-container {
        width: 50%;
    }

    .outline {
        font-size: 10px;
    }
}